<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330969427525-b8ts9762igg3nda8eepgftvffhjb36ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330969427525-b8ts9762igg3nda8eepgftvffhjb36ob</string>
	<key>API_KEY</key>
	<string>AIzaSyAG9RzRJty7Pr0LgDmuq5CkJwZ8JkVaBD8</string>
	<key>GCM_SENDER_ID</key>
	<string>330969427525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-56581</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-56581.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330969427525:ios:c7423fd1594e2665a0bd2c</string>
	<key>DATABASE_URL</key>
	<string>https://uberclone-56581-default-rtdb.firebaseio.com</string>
</dict>
</plist>